@import "globals/variables";

html {
  background: white;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ededed;
  background-image:url('pw_maze_white.png');
}

input {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  margin: 0 auto;
  max-width: 995px;
}

p {
  font-family: 'Raleway', sans-serif;
}

.main-content {
  background-color: white;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.container.min {
  min-height: 500px;
}

input[type='text'] {
  border-radius: 0px !important;
}

a {
  border-radius: 0px !important;
}

@mixin panel-background {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

@mixin no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
