@import "globals/variables";

html {
  background: white;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ededed;
  background-image:url('pw_maze_white.png');
}

input {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
  margin: 0 auto;
  max-width: 995px;
}

p {
  font-family: 'Raleway', sans-serif;
}

.main-content {
  background-color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.container.min {
  min-height: 500px;
}

.breadcrumb {
  border-radius: 0px !important;
  background: white;

  a {
    color: black;

    &:hover {
      text-decoration: none;
      color: $primaryColor;
    }
  }
}

.divider {
  background-color: transparent !important;
}

input[type='text'] {
  border-radius: 0px !important;
}

a {
  border-radius: 0px !important;
}

.btn {
  height: 38px;
  width: 80px;
  background: white;

  &:hover {
    background: darken(white, 4%);
  }

  @include no-shadow
}

.panel-row {
  margin-bottom: 25px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $grey !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $grey !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:   $grey !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   $grey !important;
}
