@import 'globals/variables';

footer {
  .navbar {
    background-image:url('dark_dotted2.png');

    .footer {
      height: 300px;
      margin-top: 20px;

      .logo {
        border-bottom: 1px solid darken(white, 70%);

        img {
          margin: 30px 0px 30px -4px;
        }
      }

      .links {
        margin-top: 15px;

        ul {

          li {
            margin-bottom: 8px;

            a { color: darken(white, 10%);
              &:hover {
                color: white;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
