@import 'globals/variables';

header {
  margin-bottom: 30px;
}

nav.navbar {
  background-color: white;
  height: 100px;

  .brand {
    margin-top: 15px;
  }

  .menu {
    margin-top: 30px;
  }

  .search-bar {
    margin-top: 28px;

    input[type='text'] {
      background-color: $lightGrey;
      border: none;
      width: 200px;
      height: 30px;
      padding-left: 15px;

      @include no-shadow
    }

    input[type='submit'] {
      height: 38px;
      width: 80px;
      background: white;

      &:hover {
        background: darken(white, 4%);
      }

      @include no-shadow;
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $grey;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $grey;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:   $grey;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:   $grey;
    }
  }
}
