.deal-container
  .heading
    %p
      Le Meridien Bangkok
      %span
        \- in Bangkok (Bang Rak)
  .deal-body
    .thumb
      %img{:src => hotel.image.thumb}
    .deal-info
      .rating
        %p
          TripAdvisor:
          %span
            = hotel.HotelSummary['tripAdvisorRating']
      .description
        %p
          - raw_description = CGI::unescapeHTML(hotel.HotelDetails['propertyDescription']).gsub(/<[\/p]+>/, "")
          - sanitized = Sanitize.clean(raw_description, :remove_contents => true)
          = truncate(sanitized, :length => 200)

  .divider
