%footer
  .navbar.navbar-static-bottom
    .container-fluid.footer
      .row-fluid.logo
        .span12
          %a{href: root_path, alt: 'luxhotels logo'}
            = image_tag 'small-logo-white.png', alt: 'luxhotels logo'
      .row-fluid
        .span12
          .links
            .row-fluid
              .span3
                %ul
                  %li
                    = link_to 'Browse Hotels By Country', countries_path
                  %li
                    = link_to 'About', about_path
              .span3
              .span3
              .span3
