%header
  .navbar
    .navbar-inner.navbar-static-top
      .container-fluid.header
        %a{:href => root_path}
          %h1 Luxhotels
        .nav
          - if user_signed_in?
            = link_to 'Sign out', destroy_user_session_path, method: :delete
            - if current_user['admin']
              %span
                \-
              = link_to 'Mining System', admin_path
