.date-picker {
  height: 473px;
  @include panel-background;

  .date-picker-content {
    padding: 20px 25px 10px 25px;

    p {
      text-align: center;
      padding-bottom: 10px;
    }
  }
}

.hotel-leader {
  position: relative;
  @include panel-background;

  .info {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 310px;
    background-color: white;

    p {
      font-size: 30px;
      padding: 16px 0px 10px 20px;
      color: black;
      width: 200px;
      line-height: 35px;
    }

    img {
      position: absolute;
      right: 20px;
      bottom: 13px;
    }

    .details {
      position: absolute;
      background-color: $primaryColor;
      height: 35px;
      width: 100%;

      p {
        font-size: 15px;
        color: white;
        padding: 0px 0px 0px 20px;
      }
    }
  }
}

.welcome {
  background: white;
  height: 226px;
  @include panel-background;

  img {
    float: left;
    padding: 20px 20px 20px 20px;
  }

  .text {
    padding: 50px 20px 20px 40px;
  }

  p {
    font-weight: 500;

    span {
      font-size: 22px;
    }
  }
}

.newsletter {
  background: white;
  height: 226px;
  @include panel-background;

  h2 {
    padding: 30px 20px 0px 20px;
  }

  p {
    padding: 0px 20px 0px 20px;
  }

  form {
    padding: 0px 0px 0px 20px;
  }

  input[type='text'] {
    background-color: $lightGrey;
    width: 170px;
    height: 30px;
    padding-left: 15px;

    @include no-shadow
  }

  input[type='submit'] {
    height: 40px;
    margin-left: -5px;
    border-radius: 0;
    background-color: $primaryColor;
    color: white;
    text-shadow: none;
  }
}

.home-heading {
  p {
    font-size: 25px;
    margin-top: 12px;

    span {
      font-weight: 500;
    }
  }
}

.hp-large {
  a {
    text-decoration: none;
    position: relative;
    @include panel-background;

    .price {
      background-color: $primaryColor;
      height: 40px;

      p {
        color: white;
        padding: 9px 0px 0px 20px;
      }
    }

    .info {
      height: 104px;
      padding: 10px 0px 0px 8px;
      background: white;

      p {
        font-size: 30px;
        color: black;
        padding: 20px 0px 10px 10px;

        &:hover {
          text-decoration: none;
        }

        span {
          font-size: 18px;
          color: $grey;
          display: block;
          padding: 15px 0px 0px 0px;
        }
      }

      img {
        position: absolute;
        right: 30px;
        bottom: 30px;
      }
    }
  }
}

.hp-small {
  a {
    text-decoration: none;
    position: relative;
    @include panel-background;

    .price {
      background-color: $primaryColor;
      height: 40px;
      font-size: 14px;
      position: absolute;
      top: 70px;
      width: 100%;
      display: none;

      p {
        color: white;
        padding: 9px 0px 0px 20px;
      }
    }

    .info {
      height: 60px;
      padding: 12px 0px 0px 8px;
      background: white;

      p {
        font-size: 18px;
        color: black;
        padding: 1px 0px 0px 10px;

        &:hover {
          text-decoration: none;
        }

        span {
          font-size: 12px;
          color: $grey;
          display: block;
          padding: 8px 0px 0px 0px;
        }
      }

      img {
        position: absolute;
        right: 30px;
        bottom: 15px;
      }
    }
  }
}
