.date-picker {
  height: 473px;
  @include panel-background;

  .date-picker-content {
    padding: 20px 25px 10px 25px;

    p {
      text-align: center;
    }
  }
}

.hotel-leader {
  height: 473px; 
  position: relative;
  @include panel-background;

  .info {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 310px;
    background-color: white;

    p {
      font-size: 30px;
      padding: 16px 0px 10px 20px;
      color: black;
      width: 200px;
      line-height: 35px;
    }

    img {
      position: absolute;
      right: 20px;
      bottom: 13px;
    }

    .details {
      position: absolute;
      background-color: $primaryColor;
      height: 35px;
      width: 100%;

      p {
        font-size: 15px;
        color: white;
        padding: 0px 0px 0px 20px;
      }
    }
  }
}

.welcome {
  background: white;
  height: 226px;
  @include panel-background;

  img {
    float: left;
    padding: 20px 20px 20px 20px;
  }

  .text {
    padding: 50px 20px 20px 40px;
  }

  p {
    font-weight: 500;

    span {
      font-size: 22px;
    }
  }
}

.newsletter {
  background: white;
  height: 226px;
  @include panel-background;

  h2 {
    padding: 30px 20px 0px 20px;
  }

  p {
    padding: 0px 20px 0px 20px;
  }

  form {
    padding: 0px 0px 0px 20px;
  }

  input[type='text'] {
    background-color: $lightGrey;
    width: 170px;
    height: 30px;
    padding-left: 15px;

    @include no-shadow
  }

  input[type='submit'] {
    height: 40px;
    margin-left: -5px;
    border-radius: 0;
    background-color: $primaryColor;
    color: white;
    text-shadow: none;
  }
}
