.container-fluid
  .row-fluid
    .span3.side-bar
    .span9.main-content
      = render partial: 'shared/pagination', locals: { results: @hotels } unless @hotels == nil
      .all-deals
        = render 'hotel_modules'
      = render partial: 'shared/pagination', locals: { results: @hotels } unless @hotels == nil
