%h1 Hotels
%br
= button_to "Create a hotel", new_hotel_path, :method => "get", :class => "btn btn-large btn-primary"
%h1 API Results
%br
%p
  Some hotel content goes here.
= link_to "Admin Interface", admin_path
