.container-fluid
  .row-fluid
    .span12
      %h1 Browse by country
  .row-fluid
    .span12
      - if @active_regions
        - @active_regions.each do |region|
          %h3= region.name
          %ul
          - region.countries.each do |country|
            %li
              = link_to country.name, country_path(country.id)
